li.new-user
	button.expand: span
	h3.userFullName Luo uusi käyttäjä
	span.uls
	br
	span.userEmail
	form#user-details.details.row(data-id='' method="POST" action="/user/save") 
		input#uid(type="hidden" name="_id" value='')
		.col-lg-6
			h4 Yhteystiedot
			label(for='yhteystiedot.nimi.etu') Etunimi
			input.form-control(type='text' id='yhteystiedot.nimi.etu' name='yhteystiedot.nimi.etu' )
			label(for='yhteystiedot.nimi.suku') Sukunimi
			input.form-control(type='text' id='yhteystiedot.nimi.suku'  name='yhteystiedot.nimi.suku' )
			label(for='yhteystiedot.puhelin') Puhelin
			input.form-control(type='tel' id='yhteystiedot.puhelin' name='yhteystiedot.puhelin' )
			label(for='yhteystiedot.osoite.katu') Katuosoite
			input.form-control(type='text' id='yhteystiedot.osoite.katu'  name='yhteystiedot.osoite.katu' )
			label(for='yhteystiedot.osoite.postinro') Postinumero
			input.form-control(type='text' id='yhteystiedot.osoite.postinro'  name='yhteystiedot.osoite.postinro')
			label(for='yhteystiedot.osoite.kunta') Postitoimipaikka
			input.form-control(type='text' id='yhteystiedot.osoite.kunta' name='yhteystiedot.osoite.kunta')
		.col-lg-6
			h4 Kirjautumistiedot
			label(for='email') Sähköposti
			input.form-control(type='email' id='email' name='email')
			label(for='pwd') Salasana
			input.form-control(type='password' id='pwd' name='pwd' )
			label(for='ulvl-select') Rooli
			select(name='userlevel').form-control
				each uls, index in userlevelStrings
					if(index > 0 && index < 3)
						option(name='ulvl' type="number" value='#{index}')= uls
			hr
			h4 Palkka
			label(for='palkka.kuukausipalkka') Kuukausipalkka
			input.form-control(type='tel' id='palkka.kuukausipalkka' name='palkka.kuukausipalkka' value='0')
			label(for='palkka.tuntipalkka') Tuntipalkka
			input.form-control(type='tel' id='palkka.tuntipalkka' name='palkka.tuntipalkka' value='0')
			label(for='palkka.provisiopalkka') Provisiopalkka
			input.form-control(type='tel' id='palkka.provisiopalkka' name='palkka.provisiopalkka' value='0')
			hr/
			button.submit.add-user(role="button" type="button")
				i.fa.fa-pencil
				|  Tallenna käyttäjä
			hr/
			button.submit.red.del-user.hidden
				i.fa.fa-trash
				|  Poista käyttäjä