 tr
            td Puhelinliittymien myynti
            td 21
            td 124
            td 13
            td 2
            td 3
            td 0€
          tr
            td Sukkien myynti
            td 231
            td 14
            td 3
            td 5
            td 4
            td 0€
          tr
            td YHTEENSÄ
            td YHTEENSÄ
            td YHTEENSÄ
            td YHTEENSÄ
            td YHTEENSÄ
            td 7
            td 0€
      h3 22.12.2015
      table
        thead
          tr
            td Kampanjan nimi
            td OK
            td EI
            td EV
            td SU
            td Tunnit
            td Palkkio
        tbody
          tr
            td Puhelinliittymien myynti
            td 21
            td 124
            td 13
            td 2
            td 2
            td 0€
          tr
            td Sukkien myynti
            td 231
            td 14
            td 3
            td 5
            td 1
            td 0€
          tr
            td YHTEENSÄ
            td YHTEENSÄ
            td YHTEENSÄ
            td YHTEENSÄ
            td YHTEENSÄ
            td 3
            td 0€
