li#report-range
	.details
		h2.no-reports.text-uppercase Ei raportoitavaa
		.row.loading: .col-xs-12: h1.text-center
			i.fa.fa-spinner.fa-pulse.fa-fw
			| Ladataan
		table.table.table-striped.table-hover.template(style='display:none')
			thead
				td.campaign-nimi Nimi
				td OK
				td EV
				td SU
				td EI
				td TJ
				td V
				td Kontaktit<br/>yhteensä
				td Tunnit
				td Provisio
				td Tuntipalkka
				td € yhteensä
			tbody.template
				tr.table-row.template.hidden
					td.pvm
					td.status-ok.calculate 0
					td.status-ev.calculate 0
					td.status-su.calculate 0
					td.status-ei.calculate 0
					td.status-tj.calculate 0
					td.status-v.calculate 0
					td.calls.calculate 0
					td.hours.calculate 0.00
					td.provisio.calculate 0.00
					td.palkka_hourly.calculate 0.00
					td.money.calculate 0.00
			tbody.body-content
			tbody.body-total
				tr.info.text-bold
					td: strong YHTEENSÄ
					td.status-ok.value 0
					td.status-ev.value 0
					td.status-su.value 0
					td.status-ei.value 0
					td.status-tj.value 0
					td.status-v.value 0
					td.calls.value 0
					td.hours.value 0.00
					td.provisio.value 0.00
					td.palkka_hourly.value 0.00
					td.money.value 0.00
			tbody.body-power
				tr.success.text-bold
					td: strong TEHO
					td.status-ok.value(data-type="%") 0.00
					td.status-ev.value(data-type="%") 0.00
					td.status-su.value(data-type="%") 0.00
					td.status-ei.value(data-type="%") 0.00
					td.status-tj.value(data-type="%") 0.00
					td.status-v.value(data-type="%") 0.00
					td.calls.value(data-type="%") 0.00
					td.hours.value(data-type="h") 0.00
					td.provisio.value(data-type="h") 0.00
					td.palkka_hourly.value(data-type="h") 0.00
					td.money.value(data-type="e") 0.00