#status-selector
	| Näytä statuksen mukaan
	.clearfix(style='margin-bottom:6px')
	p.item-count
		button.btn.btn-xs.btn-primary.status-all KAIKKI 
		button.btn.btn-xs.bg-es.status-es ES 
		button.btn.btn-xs.bg-ok.status-ok OK 
		button.btn.btn-xs.bg-ei.status-ei EI 
		button.btn.btn-xs.bg-ev.status-ev EV 
		button.btn.btn-xs.bg-su.status-su SU 
		button.btn.btn-xs.bg-tj.status-tj TJ 
		button.btn.btn-xs.bg-v.status-v V 