doctype html(lang='fi')
head
	title Telenia.fi - Virhe!
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width,initial-scale=1')
	style
		include email.css
body
	.container
		h2 Ohjelmassa on tapahtunut virhe!
		pre= msg