doctype html(lang='fi')
head
	title Telenia.fi - Salasanan resetointi
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width,initial-scale=1')
	style
		include email.css

body
	.container
		
		p Klikkaa alla olevaa linkkiä ja aseta aukeavalle sivulle uusi toivomasi salasana
			br
			small: a(href='https://telenia.codalia.fi:8085/user/resetPwd/#{hash}') https://telenia.codalia.fi:8085/user/resetPwd/#{hash}